$num-skills   : 11;
$skill-height : 24px;
$skill-margin-bottom : 2px;
$skills-padding-top-bottom : 28px*2;
$skills-graph-height : ($num-skills)*$skill-margin-bottom + ($num-skills*$skill-height) + ($skills-padding-top-bottom*2);

#skills-graph {
  //height : 371px;
  //height : $skills-graph-height;
}

.skill-graph {
  position: relative;
  margin: $font-size-base * 3 0px;
  width: 100%;
}

.skill-graph-bars {
  z-index: 10;
  position: relative;
  .skill-graph-bar {
    background-color: #000000;
    margin-top: $font-size-base * 1/8;
    padding: 0px 0px;
    text-align: right;
    vertical-align: middle;
    padding-top: 1px;
    padding-right: 2px;
    .skill-graph-bar-title {
      color: #ffffff;
      font-size: $font-size-base * 1.35;
      @extend .primary-font;
    }
  }
}

.skill-graph-guidelines {
  position: absolute;
  width: 100%;
  height: calc(100% + #{$font-size-base * 2});
  margin-top: $font-size-base * -1;
  z-index: 5;
  .skill-graph-guideline {
    position: absolute;
    height: 100%;
    .skill-graph-guideline-line {
      position: absolute;
      background-color: #888;
      width: 0px;
      padding: 0px 1px;
      height: 100%;
    }
    .skill-graph-guideline-label {
      position: absolute;
      white-space: nowrap;
      color: #888;
      @extend .primary-font;
      font-size: $font-size-base;
      &.top {
        top: $font-size-base * -1.25;
      }
      &.bottom {
        bottom: $font-size-base * -1.25;
      }
      &.single {
        margin-left: $font-size-base * -1.7;
      }
      &.plural {
        margin-left: $font-size-base * -1.8;
      }
    }
  }
}

@media print {

  .skill-graph-bars {
    & .skill-graph-bar {
      background-color: #c5c5c5 !important;
    }
  }

  .skill-graph-guidelines {
    & .skill-graph-guideline-line {
      background-color: #000 !important;
    }
    & .skill-graph-guideline-label {
      color: #000 !important;
    }
  }
}
