.navbar-fixed-top #content {
  margin-top: $navbar-height + $navbar-margin-bottom + $navbar-padding-vertical;
  margin-bottom: $navbar-height + $navbar-padding-vertical;
}

body {
  overflow-x: hidden;
}
