.git
.vagrant
.settings
.externalToolBuilder

node_modules

# docker files
docker-compose.yml
docker-compose.production.yml
docker-compose*.yml

# misc
README.md

.tmp/

typings

*.ts
*.tsx
*.es6

client/.bower_components
server/public/*/*
tasks
