.*/
node_modules
typings
*.log
/tsconfig.json

/*.js
/client/**/*.js
/server/**/*.js
/data/**/*.js
/shared/**/*.js
/tasks/**/*.js

/*.es6
/client/**/*.es6
/server/**/*.es6
/data/**/*.es6
/shared/**/*.es6
/tasks/**/*.es6

!/gulpfile.transpile.js
!/gulpfile.postinstall.js

/server/public/fonts/*fontawesome*
/server/public/images/icons/*
